@model Patici.EDMX.Ilan
@{
    ViewBag.Title = "İlan Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #aaa;
            border-radius: 6px;
            height: 57px;
            padding: 4px 5px;
        }
    </style>
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #aaa;
            border-radius: 6px;
            height: 57px;
            padding: 4px 5px;
        }

        #section_2 img {
            width: 400px;
            height: 500px;
        }
    </style>
}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-0">Detay </h2>
            </div>
        </div>
    </div>
</header>
<section class="section-padding" id="section_2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 mt-0 mt-lg-0">
                <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                    @{
                        var galeri = Patici.Manager.IlanManager.GetHayvanGaleri(Model.HayvanID);
                    }
                    <div class="carousel-indicators">
                        @foreach (var g in galeri)
                        {
                            if (g.Sira == 1)
                            {
                                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="@g.Sira" class="active"></button>
                            }
                            else
                            {
                                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="@g.Sira"></button>
                            }
                        }
                    </div>
                    <div class="carousel-inner">
                        @foreach (var g in galeri)
                        {
                            if (g.Sira == 1)
                            {
                                <div class="carousel-item active">
                                    <img src="@g.Foto" class="d-block w-100">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img src="@g.Foto" class="d-block w-100">
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>

            <div class="col-lg-5 col-12 pe-lg-5">
                <div class="contact-info">
                    <h3 class="mb-1">@Model.Hayvan.Ad</h3>
                    <h5 class="mb-4">@Model.Hayvan.HayvanTur.Ad</h5>
                    <p>@Model.Hayvan.Aciklama</p>
                    <p class="d-flex border-bottom pb-3 mb-4 pt-5">
                        <strong class="d-inline me-4">Sahip:</strong>
                        <span>@Model.KullaniciDetay.AdSoyad</span>
                    </p>
                    <p class="d-flex border-bottom pb-3 mb-4">
                        <strong class="d-inline me-4">Tasma:</strong>
                        <span>
                            @{
                                string tasma = Model.Hayvan.Tasma == true ? "Var" : "Yok";
                            }
                            @tasma
                        </span>
                    </p>
                    <p class="d-flex border-bottom pb-3 mb-4">
                        <strong class="d-inline me-4">Yaş:</strong>
                        <span>@Model.Hayvan.HayvanYa.Ad</span>
                    </p>
                    <p class="d-flex border-bottom pb-3 mb-4">
                        <strong class="d-inline me-4">Telefon:</strong>
                        <span>@Model.KullaniciDetay.Kullanici.Telefon</span>
                    </p>
                    <p class="d-flex pb-5">
                        <strong class="d-inline me-4">Konum:</strong>
                        <span>@Model.KullaniciDetay.Kullanici.Sehir.Ad</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@section styles{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
}