@model List<Patici.EDMX.Ilan>
@{
    ViewBag.Title = "Sahiplendirme İlanları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #aaa;
            border-radius: 4px;
            height: 38px;
            padding: 4px 5px;
        }
    </style>
}

<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-0">Sahiplendirme İlanları</h2>
            </div>
        </div>
    </div>
</header>

<div class="search-container container">
    <div class="col-md-12 tab-wrap">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <form action="/Ilanlar/Sahiplendirme" method="post" class="search-property-1">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-6">
                            <div class=" p-4 border-0">
                                <label>Şehir</label>
                                <div class="form-field">
                                    @Html.DropDownList("SehirID", (SelectList)ViewBag.Sehir, " -Konum- ", new { @class = "select2 form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class=" p-4">
                                <label>Cins</label>
                                <div class="form-field">
                                    @Html.DropDownList("CinsID", (SelectList)ViewBag.Cins, " -Cins- ", new { @class = "select2 form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class=" mt-5 w-100 border-0">
                                <input type="submit" value="Ara" class="align-self-stretch form-control btn btn-primary">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="topics-section section-padding pb-0" id="section_3">
    <div class="container">
        @if (ViewBag.Mesaj != null)
        {
            <h3 style="color:red;">@ViewBag.Mesaj</h3>
        }
        <div class="row">
            @foreach (var m in Model)
            {
                var galeri = Patici.Manager.IlanManager.GetHayvanGaleriFromIlan(m.Id);
                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block custom-block-overlay">
                        <a href="@Url.Action("IlanDetay","Ilanlar", new {ilanId = m.Id})" class="custom-block-image-wrap">
                            <img src="@galeri.First().Foto"
                                 class="custom-block-image img-fluid" alt="">
                        </a>
                        <div class="custom-block-info custom-block-overlay-info">
                            <h5 class="mb-1">
                                <a href="listing-page.html">
                                    @m.Hayvan.Ad
                                </a>
                            </h5>
                            <p>@m.Hayvan.Aciklama</p>
                            <p class="badge mb-0"> @m.KullaniciDetay.Kullanici.Sehir.Ad</p>
                            <p class="badge mb-0">@m.KullaniciDetay.Kullanici.Telefon</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                allowClear: true
            });
        });
    </script>
}